/* CSS */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.navbar {
    height: 100px; 
}

.navbar-nav .nav-link {
    color: black; /* Dark color for the links */
    font-size: 30px; /* Adjust as needed */
    margin-right: 20px;
}

.logo {
    height: 100px; 
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.header-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    max-width: 100%;
}

.navbar .nav-items {
    display: flex;
    gap: 20px;
}

.navbar .nav-items a {
    text-decoration: none;
    color: black;
}

.team .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.team .head h2 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.team .cards .head {
    display: flex;
    justify-content: center;
    text-align: start;
    width: 100%;
}

.team .cards .items {
    flex-basis: calc(40% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .cards .items h2 {
    color: green;
    text-align: start;
}

.team .cards .items p {
    color: rgb(111, 111, 131);
    text-align: start;
}

.team .cards .items img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: left;
    margin-right: 50px; /* Adds space to the right of the links */
}

.footer .content ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.footer .content ul li i {
    margin-right: 10px;
}

.footer .image-footer {
    order: 1;
}

.footer-text-left {
    display: flex;
    justify-content: space-evenly;
}

.copy-right {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
}

.quote {
    text-align: start;
}
