/* CSS */
body {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .container {
    max-width: 1500px; /* You can adjust this value based on your needs */
    width: 100%;
    margin: 0 auto;
    }
    
    .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    }
    
    .nav-items {
    display: flex;
    gap: 30px;
    margin: 0;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    align-items: center;
    
    }
    
    .nav-items {
    cursor: pointer;
    }
    
    /* Media Queries for different screen sizes */
    
    /* For tablets */
    @media (max-width: 768px) {
    .header-content {
    flex-direction: column;
    }
    }
    
    /* For mobile devices */
    @media (max-width: 480px) {
    .nav-items ul {
    flex-direction: column;
    align-items: center;
    }
    }
    
    /* ABOUT TEXT */
    .main-content .main-1 h4 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 3vw; /* Adjust as needed */
    }
    
    /* Media Queries for different screen sizes */
    
    /* For tablets */
    @media (max-width: 768px) {
    .main-content .main-1 h2 {
    font-size: 4vw; /* Adjust as needed */
    }
    }
    
    /* For mobile devices */
    @media (max-width: 480px) {
    .main-content .main-1 h2 {
    font-size: 5vw; /* Adjust as needed */
    }
    }
    
    
    .main-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    /* Media Queries for different screen sizes */
    
    /* For tablets */
    @media (max-width: 768px) {
    .main-2 {
    flex-direction: column;
    }
    
    .main-2 p {
    order: 2;
    }
    
    .main-2 img {
    order: 1;
    }
    }
    
    /* For mobile devices */
    @media (max-width: 480px) {
    .main-2 {
    flex-direction: column;
    }
    
    .main-2 p {
    order: 2;
    }
    
    .main-2 img {
    order: 1;
    }
    }
    
    .main-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .main-3 h1, .main-3 p {
    text-align: left;
    }
    .content {
    text-align: center;
    margin: 100px auto;
    }
    
    .content h1 {
    margin-bottom: 0;
    }
    
    .content p {
    margin-top: 0;
    }
    /* Media Queries for different screen sizes */
    
    /* For tablets */
    @media (max-width: 768px) {
    .main-3 {
    flex-direction: column;
    }
    
    .main-3 h1 {
    order: 1;
    }
    
    .main-3 img {
    order: 2;
    }
    
    .main-3 h1, .main-3 p {
    text-align: center;
    }
    }
    
    /* For mobile devices */
    @media (max-width: 480px) {
    .main-3 {
    flex-direction: column;
    }
    
    .main-3 h1 {
    order: 1;
    }
    
    .main-3 img {
    order: 2;
    }
    
    .main-3 h1, .main-3 p {
    text-align: center;
    }
    }
    
    
    .main-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .main-4 h1, .main-4 p {
    text-align: left;
    }
    .content {
    text-align: center;
    margin: 100px auto;
    }
    
    .content h1 {
    margin-bottom: 0;
    }
    
    .content p {
    margin-top: 0;
    }
    
    /* Media Queries for different screen sizes */
    
    /* For tablets */
    @media (max-width: 768px) {
    .mani-4 {
    flex-direction: column;
    }
    
    .mani-4 .content {
    order: 2;
    }
    
    .mani-4 img {
    order: 1;
    }
    }
    
    /* For mobile devices */
    @media (max-width: 480px) {
    .mani-4 {
    flex-direction: column;
    }
    
    .mani-4 .content {
    order: 2;
    }
    
    .mani-4 img {
    order: 1;
    }
    }

    