.section#hero{
    background-color: #f00d0d;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

a{
    color: #107a26;
    text-decoration: none;
}
ul{
    list-style: none;
}


/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f00d0d;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-text{
    display: flex;
    justify-content: end;
}

.img-left{
    align-items: end;
    justify-items: end;
    display: flex;
}

/* Subscribe */

.form {
    display: flex;
    flex-direction: column;
    background: #fff;
}  
  .title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #137c29;
  }
  
  .description {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(209 213 219);
  }
  
  .form div {
    display: flex;
    margin-top: 1rem;
    column-gap: 0.5rem;
  }
  
  .form div input {
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: #0c0c0c;
    padding: 0.5rem 0.875rem;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid #137c29;
    border-radius: 0.375rem;
    width: 100%;
}
  
  .form div input::placeholder {
    color: #0c0c0c;
  }
  
  .form div input:focus {
    border: 1px solid #137c29;
  }
  
  .form div button {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: #137c29;
    border-radius: 0.375rem;
    border: none;
    outline: none;
  }

  button {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: #137c29;
    border-radius: 0.375rem;
    border: none;
    outline: none;
  }

  .footer-text-left{
    display: flex;
    justify-content: space-evenly;
  }

.copy-right{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
   

}

.quote{
    text-align: start;
}

